@import "colors", "typography";

$background-footer-color: $green1a;
$button-color: $green1a;
$main-content-background-color: linear-gradient($green1b 50%, $black);
$text-color: $white;
$link-color: $white;
$accordion-color: $light-green;

$font-family-header: $greatVibes;
$font-family-body: $raleway;
