@import "theme", "typography";

html,
body {
  margin: 0;
  height: 100%;
}

.skip-nav {
  position: absolute;
  top: 0;
  left: -10000px
}

main {
  background: linear-gradient(#1d3a41 50%, #000);
}

.background {
  position: relative;
  background: $main-content-background-color;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &::before {
    content: '';
    background-image: url(../images/zen.jpg);
    background-size: cover;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
  }
}

body {
  color: $text-color;
  text-align: center;
  font-family: $font-family-body;
  font-size: 20px;
}

header {
  z-index: 1;
  max-width: 90%;
  margin: 1em auto;

  h1 {
    font-family: $font-family-header;
    margin: 0;
    padding-bottom: .3em;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .i-text {
    border: 1px solid white;
    border-radius: 10px;
    background-color: $button-color;
    padding: .15em .25em;
  }

  a {
    font-size: .8em;
    background: none;

    .only-icon {
      font-weight: 900;
      background-color: $button-color;
      font-size: 1.5em;
      border: 1px solid white;
      border-radius: 10px;
      padding: .15em .15em;
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }
}

iframe {
  z-index: 1;
  max-width: 90%;
  margin: 0 auto;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 5em;
  font-size: 0.6em;
  justify-content: space-around;
  padding: 0.5em 0;
  background: $background-footer-color;

  p {
    line-height: 1.5em;
    margin: 0;
  }
}

.accordion-container {
  max-width: 90%;
  margin: 0 auto;
  z-index: 1;
  font-family: $font-family-body;
  opacity: .9;
  overflow: scroll;
  border-radius: 10px 10px 0 0;

  :nth-child(11),
  :last-child {
    border-radius: 0 0 10px 10px;
  }

  :nth-child(11).active {
    border-radius: 0;
  }
}

button {
  &.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    z-index: 1;
    font-family: $font-family-body;
    font-size: .8em;
  }
}

button.accordion.active,
button.accordion:hover {
  background-color: white;

}

div {
  &.panel {
    padding: 0 18px;
    background-color: $accordion-color;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    font-family: $font-family-body;
    font-size: .8em;

    &.show {
      opacity: 1;
      max-height: 500px;
      /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
    }
  }
}

button.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) and (max-width: 899px) {
  // .home-header {
  //   position: absolute;
  //   top: 8em;
  //   right: 6em;
  // }

  // footer {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   justify-content: flex-end;

  //   .address,
  //   .contact {
  //     padding: 0 2em;
  //   }
  // }
  body {
    font-size: 30px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 900px) {
  body {
    font-size: 30px;
  }

  .accordion-container {
    max-width: 70%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
